{% extends 'base.html' %}
{% block content %}
<section class="page-section-ptb" style="margin-top: 110px">
    <div class="container">
        <h2>Thank You for Choosing Parviz Construction</h2>
        <br>
        <h4>A member of our customer service team will contact you soon.</h4>

        <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
    </div>
</section>
{% endblock %}

 Barcadon Construction

A member of our customer service team will contact you if needed.
Have a nice day!