{% extends 'base.html' %}
{% load static %}
{% block content %}



<!--=================================
 our-clients-->

<section class="our-clients-2 white-bg page-section-ptb" style="margin-top: 115px">
  <div class="container">
    <div class="row">
       <div class="col-lg-12 col-md-12">
        <div class="section-title-1 text-center">
          <h1 class="text-blue">Gallery by Category</h1>
          <div class="title-line"></div>

        </div>
      </div>
    </div>
    <div class="row">


    <section>
						<div>
							<div class="container">



                                <div>
                                    <a href="#" class="btn btn-default" style="margin-bottom: 5px ">KITCHEN REMODELING</a>
                                    <a href="#" class="btn btn-default" style="margin-bottom: 5px ">BATHROOM REMODELING</a>
                                    <a href="#" class=" btn btn-default" style="margin-bottom: 5px ">GARAGE REMODELING </a>
                                    <a href="#" class=" btn btn-default" style="margin-bottom: 5px ">CABINETS</a>
                                    <a href="#" class="btn btn-default" style="margin-bottom: 5px ">WALL PANELS</a>
                                    <a href="#" class=" btn btn-default" style="margin-bottom: 5px ">WALL REPAIR</a>

                                </div>





</div>



</div>

    </section>

    </div>
  </div>
</section>

<!--=================================
 our-clients-->



<section class="custom-content-7 bg-14 page-section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 text-center">


                    <a class="button button-black" target="_blank"
                       href="#"><span> Copyright Notice </span></a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}