{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
 .border_img {
            border: 1px solid rgba(206, 197, 197, 0.81);
            border-radius: 4px;
            background-color: white;
            padding: 5px;
        }
</style>


<!--=================================
 content box -->

 <section class="page-section-ptb content-box" style="margin-top: 115px">
   <div class="container">

        <div class="row">
       <div class="col-lg-12 col-md-12">
        <div class="section-title-1 text-center">
          <h1 class="text-blue">Projects</h1>
          <div class="title-line"></div>
          <p>Let Our Work Speak For Itself!</p>
        </div>
      </div>
    </div>


     <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
         <div class="feature-3 mb-30">
            <div class="feature-3-image mb-20">
               <img class="border_img img-responsive" alt="" src="{% static 'images/projects/2364 Fatjo Pl/thumbnail.jpg' %}" >
             </div>

         </div>
       </div>

       <div class="col-lg-4 col-md-4 col-sm-4">

           <div class="feature-3 mb-30">
                <div class="feature-3-image mb-20">
                    <div class="container_img">
                       <img class="border_img img-responsive" alt="" src="{% static 'images/projects/75 S 24th St/thumbnail.jpg' %}">
                     </div>
                 </div>
           </div>

       </div>
       <div class="col-lg-4 col-md-4 col-sm-4">
         <div class="feature-3 mb-30">
            <div class="feature-3-image mb-20">
               <img class="border_img img-responsive" alt="" src="{% static 'images/projects/3006 La Terrace Circle/thumbnail.png' %}">
             </div>

         </div>
       </div>
     </div>

       <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
         <div class="feature-3 mb-30">
            <div class="feature-3-image mb-20">
               <img class="border_img img-responsive" alt="" src="{% static 'images/projects/mario garage/thumbnail.jpg' %}">
             </div>

         </div>
       </div>
       <div class="col-lg-4 col-md-4 col-sm-4">
         <div class="feature-3 mb-30">
            <div class="feature-3-image mb-20">
               <img class="border_img img-responsive" alt="" src="{% static 'images/projects/amit garage/thumbnail.jpeg' %}">
             </div>

         </div>
       </div>
       <div class="col-lg-4 col-md-4 col-sm-4">
         <div class="feature-3 mb-30">
            <div class="feature-3-image mb-20">
               <img class="border_img img-responsive" alt="" src="{% static 'images/projects/montesereno garage/thumbnail.jpg' %}">
             </div>

         </div>
       </div>
     </div>





   </div>
 </section>

<!--=================================
 content box -->



    <section>
						<div>
							<div class="container">



                                <div>
                                    <a href="#" class="btn btn-default" style="margin-bottom: 5px ">KITCHEN REMODELING</a>
                                    <a href="#" class="btn btn-default" style="margin-bottom: 5px ">BATHROOM REMODELING</a>
                                    <a href="#" class=" btn btn-default" style="margin-bottom: 5px ">GARAGE REMODELING </a>
                                    <a href="#" class=" btn btn-default" style="margin-bottom: 5px ">CABINETS</a>
                                    <a href="#" class="btn btn-default" style="margin-bottom: 5px ">WALL PANELS</a>
                                    <a href="#" class=" btn btn-default" style="margin-bottom: 5px ">WALL REPAIR</a>

                                </div>







</div>



</div>

    </section>



    <section class="custom-content-7 bg-14 page-section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 text-center">


                    <a class="button button-black" target="_blank"
                       href="#"><span> Copyright Notice </span></a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}