{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="page-section-ptb white-bg" style="margin-top:115px;">
  <div class="container">
    <div class="row justify-content-center">
       <main>
    <h2>Terms & Conditions (SMS Messaging)</h2>
    <p class="muted"><strong>Company:</strong> Parviz Construction</p>
    <p class="muted"><strong>Last Updated:</strong> 03.04.2026</p>




<br><br>
1- SMS Consent Communication: The information (Phone Numbers) obtained as part of the SMS consent process will not be shared with third parties for marketing purposes
<br><br>
. 2- Types of SMS Communications: If you have consented to receive text messages from Parviz Construction, you may receive messages related to the following : customer care.  "Hello, this is a friendly reminder of your upcoming appointment with Dr. [Name] at [Location] on [Date] at [Time]. You can reply STOP to opt out of SMS messaging from Parviz Construction at any time."
<br><br>
 3- Message Frequency: Message frequency may vary depending on the type of communication. "Message frequency may vary."
<br><br>
 4- Potential Fees for SMS Messaging: Please note that standard message and data rates may apply, depending on your carrier’s pricing plan.
<br><br>
 5- Opt-In Method: You may opt-in to receive SMS messages from Parviz Construction By submitting an online form
<br><br>
 6- Opt-Out Method: You can opt out of receiving SMS messages at any time. To do so, simply reply "STOP" to any SMS message you receive.
<br><br>
 7- Help: If you are experiencing any issues, you can reply with the keyword HELP. Or, you can get help directly from us at <a href="https://parvizconstruction.com/privacy/">parvizconstruction.com/privacy</a>
<br><br>
 8- Standard Messaging Disclosures: Message and data rates may apply. You can opt out at any time by texting "STOP." For assistance, text "HELP" or visit our <a href="https://parvizconstruction.com/privacy/">parvizconstruction.com/privacy</a> and <a href="https://parvizconstruction.com/terms/">parvizconstruction.com/terms/</a> pages. Message frequency may vary.
<br><br>


  </main>
    </div>
  </div>
</section>

{% endblock %}