{% load static %}


<!--=================================
 footer -->

    <section class="action-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <h3 class="text-white">Call Now to book a free job site consultation.</h3>
                    <p class="text-white">Schedule a Free In-Home Consultation</p>
                </div>
                <div class="col-lg-4 col-md-4 text-right action-box-button">
                    <a href="#" class="button button-white mt-15">
                        <span>+1 650 770 5303</span>
                        <i class="fa fa-phone"></i>
                    </a>

                </div>
            </div>
        </div>
    </section>


<footer class="footer-4 page-section-pt">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="recent-post footer-hedding">
                    <h4 class="mb-30" style="color: white; font-weight: bold; font-family: 'Plantagenet Cherokee'">PARVIZ CONSTRUCTION</h4>
                    <h4 class="text-white">Get in touch</h4>

                    <a style="font-size: medium" href="#" class="text-white">Request Free Consultation</a><br>
                    <a style="font-size: medium" href="#" class="text-white">+1 650 770 5303</a><br>
                    <a  style="font-size: medium" class="text-white">2074 Walsh Ave ste B <br> Santa Clara CA 95050</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="recent-post footer-hedding">
                    <h4 class="text-blue mb-30">Recent Posts</h4>
                    <div class="recent-post mb-30">
                        <div class="recent-post-image">
                            <img src="{% static 'images/portfolio/small/01.jpg' %}" alt="">
                        </div>
                        <div class="recent-post-info">
                            <a href="#">Omnis voluptas ...</a>
                            <span><i class="fa fa-calendar"></i> September 30, 2015</span>
                        </div>
                    </div>

                    <div class="recent-post mb-30">
                        <div class="recent-post-image">
                            <img src="{% static 'images/portfolio/small/02.jpg' %}" alt="">
                        </div>
                        <div class="recent-post-info">
                            <a href="#">Omnis voluptas ...</a>
                            <span><i class="fa fa-calendar"></i> September 30, 2015</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="footer-flickr footer-hedding">
                    <h4 class="text-blue mb-30">Instagram</h4>
                    <div class="grid_3 social-feed flickr-feed"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="footer-Newsletter footer-hedding">
                    <h4 class="text-blue mb-30">Newsletter</h4>
                    <p class="text-white mb-30">Keep up on our always evolving product features and technology. Enter
                        your e-mail and subscribe to our newsletter.</p>
                    <div class="input-group divcenter">
                        <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                        <input type="email" placeholder="Enter your Email" class="form-control">
                        <span class="input-group-btn">
                  <button type="submit" class="btn btn-icon"><i class="fa fa-paper-plane"></i></button>
              </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-widget mt-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <p class="text-white mt-15"> &copy;Copyright &nbsp;|&nbsp; All Rights Reserved &nbsp;|&nbsp; <a
                            href="#" style="color: whitesmoke">Dealer Area</a></p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="footer-widget-social">
                        <ul>
                            <li><a href="#" data-tooltip="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" data-tooltip="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" data-tooltip="dribbble"><i class="fa fa-dribbble"></i> </a></li>
                            <li><a href="#" data-tooltip="Vimeo"><i class="fa fa-vimeo"></i> </a></li>
                            <li><a href="#" data-tooltip="Pinterest"><i class="fa fa-pinterest-p"></i> </a></li>
                            <li><a href="#" data-tooltip="Behance"><i class="fa fa-behance"></i> </a></li>
                            <li><a href="#" data-tooltip="Linkedin"><i class="fa fa-linkedin"></i> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--=================================
 footer -->


